.inv__card_principal2{
    display: none;
}

.s1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    z-index: 3;
    position: relative;
    margin-bottom: 50px;
}